<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsgcya.coder.wechat.wechataccess.dao.WechatMapper">

    <select id="getTokenByAppid" parameterType="String" resultType="String">
        SELECT access_token FROM token WHERE appid=#{appid}
    </select>
</mapper>    